h1{
font-family: 'Cinzel Decorative', cursive;
text-align: center;
color:#bf0a30;
}

p{
font-family: 'Cinzel Decorative', cursive;
text-align: center;
color:#bf0a30;
}

h2{
    font-family: 'Playball', cursive;
    color: #002868;
    text-align: center;
}

background{
    color:#020202;
    text-align: center;
}
